# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
staticfiles/

# IDE
.vscode/
.pytest_cache/

# Environment variables
.env

# User-uploaded media
media/profile_pics/
media/*_backup_*.zip

# Local uploaded profile images
profile_pics/