{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section about-card">
        <h1>About Page!!!</h1>
        <p>Welcome to Django Blog. This application lets users read posts, create content, and manage their profile.</p>
        <p>It is built with Django and designed to be a simple and clean blogging experience.</p>
    </div>
{% endblock content %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <h1>About Page!!!!</h1>
</body>
</html> -->