{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Join Today
                </legend>
                {{ form|crispy }}
                <!-- {{ form.as_p }} -->
            </fieldset>
            <div class="form-group text-right">
                <button class="btn btn-outline-info" type="submit">
                    Sign Up
                </button>
            </div>
        </form>
        <div class="auth-footer border-top pt-3 mt-3">
            <div class="auth-footer__meta">
                <small class="text-muted">Already have an account? Sign in to manage your posts and profile.</small>
            </div>
            <div class="auth-footer__action">
                <a class="btn btn-outline-info" href="{% url 'login' %}">Sign In</a>
            </div>
        </div>
    </div>
{% endblock content %}